# Importar liberias

In [1]:
import pandas as pd
import json
import os

*Aviso: Para ejecutar satisfactoriamente los algoritmos se debe cambiar las rutas de los archivos a las adecuadas*

# Dataset de Google Maps

## Función para unir los archivos json

In [2]:
def read_json_files(folder_path):
    data = []
    
    for file_name in os.listdir(folder_path):
        if file_name.endswith(".json"):
            file_path = os.path.join(folder_path, file_name)
            with open(file_path, 'r') as file:
                for line in file:
                    line = line.strip()
                    if line:
                        try:
                            json_obj = json.loads(line)
                            data.append(json_obj)
                        except json.JSONDecodeError:
                            continue

    df = pd.DataFrame(data)
    return df

## Uniendo información de Estados

### Nevada

In [35]:
#Leemos cada json y lo convertimos en un dataframe y lo agregamos a una lista de dataframe
folder_path = "../raw_data/Google Maps/reviews-estados/review-Nevada"
dfList = []
dfNevada = read_json_files(folder_path)
dfList.append(dfNevada)

In [36]:
#unimos todos los dataframes generados en uno
dfNevadaReviews = pd.concat(dfList, ignore_index=True)

In [37]:
dfNevadaReviews.shape

(1800000, 8)

In [38]:
dfNevadaReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800000 entries, 0 to 1799999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 109.9+ MB

In [39]:
dfNevadaReviews.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,102843170183026312173,CDL CO,1622740504476,5,No frills smaller coffee counter in the corner...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
1,114954392137907747077,So_ Blind,1573159413820,1,Save yourself the frustration and just ignore ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
2,116523433330089119119,Greg Hansen,1515251163362,3,I passed two Starbucks in order to get to this...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
3,103304053791281129156,Brett Powell,1506206762095,3,It does the job and is my preference over the ...,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9
4,114162416344450979054,M Aris,1468298771892,3,None,None,None,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9

### Florida

In [40]:
#Leemos cada json y lo convertimos en un dataframe y lo agregamos a una lista de dataframe
folder_path = "../raw_data/Google Maps/reviews-estados/review-Florida"
dfList = []
dfFlorida = read_json_files(folder_path)
dfList.append(dfFlorida)

In [41]:
#unimos todos los dataframes generados en uno
dfFloridaReviews = pd.concat(dfList, ignore_index=True)

In [42]:
dfFloridaReviews.shape

(2850000, 8)

In [43]:
dfFloridaReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850000 entries, 0 to 2849999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 174.0+ MB

In [44]:
dfFlorida.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,101471856155148729010,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
1,115477234789038326051,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
2,101805010244892834381,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
3,106344422881493743981,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,100875113069561776529,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb

### California

In [45]:
#Leemos cada json y lo convertimos en un dataframe y lo agregamos a una lista de dataframe
folder_path = "../raw_data/Google Maps/reviews-estados/review-California"
dfList = []
dfCalifornia = read_json_files(folder_path)
dfList.append(dfCalifornia)

In [46]:
#unimos todos los dataframes generados en uno
dfCaliforniaReviews = pd.concat(dfList, ignore_index=True)

In [47]:
dfCaliforniaReviews.shape

(2700000, 8)

In [48]:
dfCaliforniaReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700000 entries, 0 to 2699999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 164.8+ MB

In [49]:
dfCaliforniaReviews.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,108991152262655788985,Song Ro,1609909927056,5,Love there korean rice cake.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,111290322219796215751,Rafa Robles,1612849648663,5,Good very good,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,112640357449611959087,David Han,1583643882296,4,They make Korean traditional food very properly.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,117440349723823658676,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,100580770836123539210,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49

### New York

In [8]:
#Leemos cada json y lo convertimos en un dataframe y lo agregamos a una lista de dataframe
folder_path = "../raw_data/Google Maps/reviews-estados/review-New_York"
dfList = []
dfNewYork = read_json_files(folder_path)
dfList.append(dfNewYork)

In [9]:
#unimos todos los dataframes generados en uno
dfNewYorkReviews = pd.concat(dfList, ignore_index=True)

In [10]:
dfNewYorkReviews.shape

(2700000, 8)

In [11]:
dfNewYorkReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700000 entries, 0 to 2699999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 164.8+ MB

In [12]:
dfNewYorkReviews.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113722104692308235141,Alvin Martinez,1603494795361,5,I'm late to posting this but this store especi...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89c25fc9494dce47:0x6d63c807b59a55
1,107293441492109320298,Johnnie Jackson,1620157037403,1,Very dissatisfied I did not get my phone the p...,None,"{'time': 1620268360920, 'text': 'We pride ours...",0x89c25fc9494dce47:0x6d63c807b59a55
2,100378585801819400296,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55
3,114998161153019826512,Fashion Fiinds,1543773862044,5,Basing my review strictly on the service I rec...,None,"{'time': 1543855317372, 'text': 'Thanks for th...",0x89c25fc9494dce47:0x6d63c807b59a55
4,117178185728422297915,Andres Rieloff,1597279097718,1,Bad! Disorganized. I'm being totally honest. I...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55

### Texas

In [13]:
#Leemos cada json y lo convertimos en un dataframe y lo agregamos a una lista de dataframe
folder_path = "../raw_data/Google Maps/reviews-estados/review-Texas"
dfList = []
dfTexas = read_json_files(folder_path)
dfList.append(dfTexas)

In [14]:
#unimos todos los dataframes generados en uno
dfTexasReviews = pd.concat(dfList, ignore_index=True)

In [15]:
dfTexasReviews.shape

(2296824, 8)

In [16]:
dfTexasReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296824 entries, 0 to 2296823
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 140.2+ MB

In [17]:
dfTexasReviews.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,110545299078970317447,Kimberly Feger,1625431734826,5,"The pharmacist, Erin, is phenomenal. She was s...",None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
1,103619788097506115343,Briana Streit,1568336283913,2,I gave them 2 stars because they offer prescri...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
2,101916663109091637233,Sylvia Caudillo,1519873586872,1,If I could put minus stars I would. This has t...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
3,117870898304582507607,Ginger Kinyon,1571638384637,1,Please fix your restroom doors,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320
4,110397346115416712442,Angeles Arellano,1546568877087,1,This pharmacy Walmart dose not work not come a...,None,None,0x864c3998b8d8dc83:0x57ffabe1e2322320

## Metadata de hoteles

In [18]:
# Ruta de la carpeta de datos de Google Maps
google_maps_folder = '../raw_data/Google Maps/'

# Ruta de la subcarpeta "metadata-sitios"
google_maps_subfolder = os.path.join(google_maps_folder, 'metadata-sitios')

In [19]:
# Lista para almacenar los resultados filtrados
hotels = []

# Recorrer todos los archivos JSON dentro de "metadata-sitios"
for archivo in os.listdir(google_maps_subfolder):
    if archivo.endswith(".json"):
        # Ruta del archivo JSON actual
        ruta_archivo = os.path.join(google_maps_subfolder, archivo)

        # Leer el contenido del archivo JSON
        with open(ruta_archivo) as f:
            contenido_json = f.readlines()

        # Cargar cada objeto JSON por separado
        for linea in contenido_json:
            try:
                data = json.loads(linea)
            except json.JSONDecodeError as e:
                print(f"Error al cargar el archivo JSON {ruta_archivo}: {e}")
                continue

            # Verificar si la categoría "hotel" está presente en el archivo JSON
            categorias = data.get("category", [])
            if isinstance(categorias, list) and any("hotel" in categoria.lower() for categoria in categorias):
                hotels.append(data)

# Convertir los resultados a un pandas DataFrame
dfHotels = pd.DataFrame(hotels)

In [20]:
dfHotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7700 entries, 0 to 7699
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              7700 non-null   object
 1   address           7673 non-null   object
 2   gmap_id           7700 non-null   object
 3   description       1740 non-null   object
 4   latitude          7700 non-null   float64
 5   longitude         7700 non-null   float64
 6   category          7700 non-null   object
 7   avg_rating        7700 non-null   float64
 8   num_of_reviews    7700 non-null   int64
 9   price             0 non-null      object
 10  hours             36 non-null     object
 11  MISC              665 non-null    object
 12  state             37 non-null     object
 13  relative_results  6058 non-null   object
 14  url               7700 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 902.5+ KB

In [21]:
dfHotels.head()

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Basecamp Guesthouse,"Basecamp Guesthouse, 49010 SE Middle Fork Rd, ...",0x54907fca2751e187:0x3d6ae31ac18da483,None,47.471332,-121.686928,[Hotel],5.0,8,None,None,None,None,"[0x54907c35e89f333f:0x121a0cbfbbb39d3a, 0x549a...",https://www.google.com/maps/place//data=!4m2!3...
1,Sugar River Loft,"Sugar River Loft, 929 W Exchange St, Brodhead,...",0x88062b28cb53ef6d:0x94df72568fddf391,None,42.619862,-89.377890,[Hotel],4.7,8,None,None,None,None,"[0x88062b123701348f:0x5c12c6134b41325, 0x88062...",https://www.google.com/maps/place//data=!4m2!3...
2,Meraki Lodge,"Meraki Lodge, 223 Meraki Ln, Manson, WA 98831",0x549b9d4ad8f113d5:0x8258a10cca866a62,None,47.887652,-120.120376,"[Hotel, Group accommodation, Lodge, Motel]",4.9,15,None,None,None,None,"[0x549b9dd7e3512cd1:0x35541a27ae39f6df, 0x549b...",https://www.google.com/maps/place//data=!4m2!3...
3,View House at Lake Chelan,"View House at Lake Chelan, 245 Summerset Blvd,...",0x549b9db4d73626a3:0x348e8f7106d3be41,None,47.888291,-120.124120,[Hotel],4.4,8,None,None,None,None,"[0x549b9dd43b4f95f5:0x40d73fccf872ebe, 0x549b9...",https://www.google.com/maps/place//data=!4m2!3...
4,Station Lakefront Rental Home,"Station Lakefront Rental Home, 8188 Plum Lake ...",0x4d55cee0af102c25:0x752b313677a78e1c,None,45.998720,-89.490867,[Resort hotel],4.7,3,None,None,None,None,None,https://www.google.com/maps/place//data=!4m2!3...

In [23]:
print('Duplicados "hotels":', dfHotels['gmap_id'].duplicated().sum())

Duplicados "hotels": 63

In [24]:
dfHotels = dfHotels.drop_duplicates(subset='gmap_id') #63 observaciones

In [25]:
dfHotels.shape

(7637, 15)

### Uniendo hoteles con reviews de Estados

#### Nevada

In [68]:
nevada_inner_merged = pd.merge(dfNevadaReviews, dfHotels, on=["gmap_id"])

In [69]:
nevada_inner_merged["state"] = "NV"

In [70]:
nevada_inner_merged.shape

(1731, 22)

In [71]:
nevada_inner_merged.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,address,...,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,104214820746282089464,Aja Suarez,1628403907959,3,Good for when you're in a pinch. More availabi...,None,None,0x80c8dae62e7dbaaf:0xd30feda3d0851444,The Suites Boulder Highway,"The Suites Boulder Highway, 4855 Boulder Hwy, ...",...,-115.067942,[Extended stay hotel],3.6,18,None,None,None,NV,"[0x80c8dadef653932b:0x70cc5fd8c471df47, 0x80c8...",https://www.google.com/maps/place//data=!4m2!3...
1,110938691322071223313,Mrs Smith,1615931934056,5,Getting much better very sweet receptionists. ...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x80c8dae62e7dbaaf:0xd30feda3d0851444,The Suites Boulder Highway,"The Suites Boulder Highway, 4855 Boulder Hwy, ...",...,-115.067942,[Extended stay hotel],3.6,18,None,None,None,NV,"[0x80c8dadef653932b:0x70cc5fd8c471df47, 0x80c8...",https://www.google.com/maps/place//data=!4m2!3...
2,106763631676192487454,Shanell Bucks,1612471018988,4,This is the best I've seen their property in y...,None,None,0x80c8dae62e7dbaaf:0xd30feda3d0851444,The Suites Boulder Highway,"The Suites Boulder Highway, 4855 Boulder Hwy, ...",...,-115.067942,[Extended stay hotel],3.6,18,None,None,None,NV,"[0x80c8dadef653932b:0x70cc5fd8c471df47, 0x80c8...",https://www.google.com/maps/place//data=!4m2!3...
3,107783679376826107125,Heidi Refior,1610441231526,5,The true name is Budget Suites. I lived here f...,None,None,0x80c8dae62e7dbaaf:0xd30feda3d0851444,The Suites Boulder Highway,"The Suites Boulder Highway, 4855 Boulder Hwy, ...",...,-115.067942,[Extended stay hotel],3.6,18,None,None,None,NV,"[0x80c8dadef653932b:0x70cc5fd8c471df47, 0x80c8...",https://www.google.com/maps/place//data=!4m2!3...
4,109823833033500520389,Melissa Redmond,1610440072662,3,MY FRIEND LIVE HERE AND IT CLEAN OUTSIDE PARKI...,None,None,0x80c8dae62e7dbaaf:0xd30feda3d0851444,The Suites Boulder Highway,"The Suites Boulder Highway, 4855 Boulder Hwy, ...",...,-115.067942,[Extended stay hotel],3.6,18,None,None,None,NV,"[0x80c8dadef653932b:0x70cc5fd8c471df47, 0x80c8...",https://www.google.com/maps/place//data=!4m2!3...

In [72]:
nevada_inner_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1731 entries, 0 to 1730
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           1731 non-null   object
 1   name_x            1731 non-null   object
 2   time              1731 non-null   int64
 3   rating            1731 non-null   int64
 4   text              1075 non-null   object
 5   pics              55 non-null     object
 6   resp              124 non-null    object
 7   gmap_id           1731 non-null   object
 8   name_y            1731 non-null   object
 9   address           1731 non-null   object
 10  description       136 non-null    object
 11  latitude          1731 non-null   float64
 12  longitude         1731 non-null   float64
 13  category          1731 non-null   object
 14  avg_rating        1731 non-null   float64
 15  num_of_reviews    1731 non-null   int64
 16  price             0 non-null      object
 17  hours             0 non-null      object
 18  MISC              652 non-null    object
 19  state             1731 non-null   object
 20  relative_results  1704 non-null   object
 21  url               1731 non-null   object
dtypes: float64(3), int64(3), object(16)
memory usage: 297.6+ KB

#### Florida

In [58]:
florida_inner_merged = pd.merge(dfFloridaReviews, dfHotels, on=["gmap_id"])

In [63]:
florida_inner_merged["state"] = "FL"

In [64]:
florida_inner_merged.shape

(3736, 22)

In [65]:
florida_inner_merged.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,address,...,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,114393800896569539309,Mark Kirkelie,1537295420819,5,"If you miss the ocean, food, and entertainment...",[{'url': ['https://lh5.googleusercontent.com/p...,None,0x88e6d9341a9a1edd:0x128274d78488c1f8,Daytona Beach Oceanside Inn,"Daytona Beach Oceanside Inn, 1801 W Internatio...",...,-80.993759,[Hotel],4.4,46,None,None,None,FL,"[0x88e6d9f834b363eb:0x495a9695bac4140c, 0x88e6...",https://www.google.com/maps/place//data=!4m2!3...
1,102806906250198061985,Andrea Lynn,1546293448461,5,Always such an experience. Beach is always cl...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x88e6d9341a9a1edd:0x128274d78488c1f8,Daytona Beach Oceanside Inn,"Daytona Beach Oceanside Inn, 1801 W Internatio...",...,-80.993759,[Hotel],4.4,46,None,None,None,FL,"[0x88e6d9f834b363eb:0x495a9695bac4140c, 0x88e6...",https://www.google.com/maps/place//data=!4m2!3...
2,110846115373226635052,Richard Ruiz,1570813825030,5,Beautiful and Relaxing place for a beach walk!,None,None,0x88e6d9341a9a1edd:0x128274d78488c1f8,Daytona Beach Oceanside Inn,"Daytona Beach Oceanside Inn, 1801 W Internatio...",...,-80.993759,[Hotel],4.4,46,None,None,None,FL,"[0x88e6d9f834b363eb:0x495a9695bac4140c, 0x88e6...",https://www.google.com/maps/place//data=!4m2!3...
3,108912897931206226062,Katrina Dearman,1569514354562,3,its a good budget hotel,None,None,0x88e6d9341a9a1edd:0x128274d78488c1f8,Daytona Beach Oceanside Inn,"Daytona Beach Oceanside Inn, 1801 W Internatio...",...,-80.993759,[Hotel],4.4,46,None,None,None,FL,"[0x88e6d9f834b363eb:0x495a9695bac4140c, 0x88e6...",https://www.google.com/maps/place//data=!4m2!3...
4,111812241669473037896,Erik Blizzard,1568333757503,5,I love it there,None,None,0x88e6d9341a9a1edd:0x128274d78488c1f8,Daytona Beach Oceanside Inn,"Daytona Beach Oceanside Inn, 1801 W Internatio...",...,-80.993759,[Hotel],4.4,46,None,None,None,FL,"[0x88e6d9f834b363eb:0x495a9695bac4140c, 0x88e6...",https://www.google.com/maps/place//data=!4m2!3...

In [66]:
florida_inner_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3736 entries, 0 to 3735
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           3736 non-null   object
 1   name_x            3736 non-null   object
 2   time              3736 non-null   int64
 3   rating            3736 non-null   int64
 4   text              2279 non-null   object
 5   pics              157 non-null    object
 6   resp              354 non-null    object
 7   gmap_id           3736 non-null   object
 8   name_y            3736 non-null   object
 9   address           3736 non-null   object
 10  description       1470 non-null   object
 11  latitude          3736 non-null   float64
 12  longitude         3736 non-null   float64
 13  category          3736 non-null   object
 14  avg_rating        3736 non-null   float64
 15  num_of_reviews    3736 non-null   int64
 16  price             0 non-null      object
 17  hours             10 non-null     object
 18  MISC              685 non-null    object
 19  state             3736 non-null   object
 20  relative_results  3703 non-null   object
 21  url               3736 non-null   object
dtypes: float64(3), int64(3), object(16)
memory usage: 642.2+ KB

#### California

In [73]:
california_inner_merged = pd.merge(dfCaliforniaReviews, dfHotels, on=["gmap_id"])

In [74]:
california_inner_merged["state"] = "CA"

In [76]:
california_inner_merged.shape

(4537, 22)

In [77]:
california_inner_merged.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,address,...,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,108926839191441331077,Christopher Thomas Constantino,1623551237434,4,Great pet friendly place on the American River...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1623778784860, 'text': 'Thank you for...",0x809a55833fbe05ad:0xee6507787fb6a26c,Coloma Cottages,"Coloma Cottages, 5941 New River Rd, Coloma, CA...",...,-120.885765,"[Resort hotel, Hotel, Indoor lodging, Inn, Lod...",5.0,48,None,None,None,CA,"[0x809a55836b287ba3:0xabc7ef05f2c25caa, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...
1,114783515225092766151,Valley Girl,1604637304569,5,Beautiful outdoorsy getaway. Kitchenette cotta...,None,"{'time': 1610999719328, 'text': 'Thank you Val...",0x809a55833fbe05ad:0xee6507787fb6a26c,Coloma Cottages,"Coloma Cottages, 5941 New River Rd, Coloma, CA...",...,-120.885765,"[Resort hotel, Hotel, Indoor lodging, Inn, Lod...",5.0,48,None,None,None,CA,"[0x809a55836b287ba3:0xabc7ef05f2c25caa, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...
2,115830657428918260428,John Barringer,1604210807321,5,I was the chef at this evening's wedding. I wa...,None,"{'time': 1604207570230, 'text': 'Thank you Joh...",0x809a55833fbe05ad:0xee6507787fb6a26c,Coloma Cottages,"Coloma Cottages, 5941 New River Rd, Coloma, CA...",...,-120.885765,"[Resort hotel, Hotel, Indoor lodging, Inn, Lod...",5.0,48,None,None,None,CA,"[0x809a55836b287ba3:0xabc7ef05f2c25caa, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...
3,108306042908296534636,Missey Iverson,1623177300137,5,I am trying to book a small cabin. Help. 😆,None,"{'time': 1623178567495, 'text': 'Well this is ...",0x809a55833fbe05ad:0xee6507787fb6a26c,Coloma Cottages,"Coloma Cottages, 5941 New River Rd, Coloma, CA...",...,-120.885765,"[Resort hotel, Hotel, Indoor lodging, Inn, Lod...",5.0,48,None,None,None,CA,"[0x809a55836b287ba3:0xabc7ef05f2c25caa, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...
4,116593871394473299875,Larry S.,1523301076898,5,My kids and I spent part of last week in Colom...,None,"{'time': 1592523694586, 'text': 'Thank you Lar...",0x809a55833fbe05ad:0xee6507787fb6a26c,Coloma Cottages,"Coloma Cottages, 5941 New River Rd, Coloma, CA...",...,-120.885765,"[Resort hotel, Hotel, Indoor lodging, Inn, Lod...",5.0,48,None,None,None,CA,"[0x809a55836b287ba3:0xabc7ef05f2c25caa, 0x809a...",https://www.google.com/maps/place//data=!4m2!3...

In [78]:
california_inner_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4537 entries, 0 to 4536
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           4537 non-null   object
 1   name_x            4537 non-null   object
 2   time              4537 non-null   int64
 3   rating            4537 non-null   int64
 4   text              2991 non-null   object
 5   pics              222 non-null    object
 6   resp              182 non-null    object
 7   gmap_id           4537 non-null   object
 8   name_y            4537 non-null   object
 9   address           4537 non-null   object
 10  description       2773 non-null   object
 11  latitude          4537 non-null   float64
 12  longitude         4537 non-null   float64
 13  category          4537 non-null   object
 14  avg_rating        4537 non-null   float64
 15  num_of_reviews    4537 non-null   int64
 16  price             0 non-null      object
 17  hours             0 non-null      object
 18  MISC              458 non-null    object
 19  state             4537 non-null   object
 20  relative_results  4237 non-null   object
 21  url               4537 non-null   object
dtypes: float64(3), int64(3), object(16)
memory usage: 779.9+ KB

### New York

In [27]:
newyork_inner_merged = pd.merge(dfNewYorkReviews, dfHotels, on=["gmap_id"])

In [28]:
newyork_inner_merged["state"] = "NY"

In [29]:
newyork_inner_merged.shape

(2821, 22)

In [30]:
newyork_inner_merged.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,address,...,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,104065006676228591353,Katie K,1625664858257,5,If I could give this place even more stars I w...,None,"{'time': 1625669318347, 'text': 'Thanks so muc...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0,Niagara Shores Campground and Conference Center,Niagara Shores Campground and Conference Cente...,...,-78.68016,"[Indoor lodging, Campground, Conference center...",4.8,38,None,None,None,NY,"[0x89d49ced4b2e0f51:0x3079048d41e88081, 0x89d4...",https://www.google.com/maps/place//data=!4m2!3...
1,115659116247802471008,Nick Nyhan,1604946978554,5,Pulled in there after Niagara Falls visit. Rea...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1604949989257, 'text': 'Thanks for th...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0,Niagara Shores Campground and Conference Center,Niagara Shores Campground and Conference Cente...,...,-78.68016,"[Indoor lodging, Campground, Conference center...",4.8,38,None,None,None,NY,"[0x89d49ced4b2e0f51:0x3079048d41e88081, 0x89d4...",https://www.google.com/maps/place//data=!4m2!3...
2,100528850331709198225,JustGoFlyVinnie,1603729232178,5,I can't rate this hidden gem high enough. We g...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1603735958781, 'text': 'Thanks so muc...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0,Niagara Shores Campground and Conference Center,Niagara Shores Campground and Conference Cente...,...,-78.68016,"[Indoor lodging, Campground, Conference center...",4.8,38,None,None,None,NY,"[0x89d49ced4b2e0f51:0x3079048d41e88081, 0x89d4...",https://www.google.com/maps/place//data=!4m2!3...
3,112210942645496932196,Matt Carroll,1566143322676,5,We rented the hotel for a company party for th...,None,"{'time': 1566149806295, 'text': 'Thanks for th...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0,Niagara Shores Campground and Conference Center,Niagara Shores Campground and Conference Cente...,...,-78.68016,"[Indoor lodging, Campground, Conference center...",4.8,38,None,None,None,NY,"[0x89d49ced4b2e0f51:0x3079048d41e88081, 0x89d4...",https://www.google.com/maps/place//data=!4m2!3...
4,114914287779742616659,Russell Larsen,1547301890798,5,What a Jem. Great place to host a wedding or p...,None,None,0x89d486fb46b35e0f:0xf89fc350fa1c93f0,Niagara Shores Campground and Conference Center,Niagara Shores Campground and Conference Cente...,...,-78.68016,"[Indoor lodging, Campground, Conference center...",4.8,38,None,None,None,NY,"[0x89d49ced4b2e0f51:0x3079048d41e88081, 0x89d4...",https://www.google.com/maps/place//data=!4m2!3...

In [31]:
newyork_inner_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2821 entries, 0 to 2820
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2821 non-null   object
 1   name_x            2821 non-null   object
 2   time              2821 non-null   int64
 3   rating            2821 non-null   int64
 4   text              1738 non-null   object
 5   pics              104 non-null    object
 6   resp              233 non-null    object
 7   gmap_id           2821 non-null   object
 8   name_y            2821 non-null   object
 9   address           2821 non-null   object
 10  description       1295 non-null   object
 11  latitude          2821 non-null   float64
 12  longitude         2821 non-null   float64
 13  category          2821 non-null   object
 14  avg_rating        2821 non-null   float64
 15  num_of_reviews    2821 non-null   int64
 16  price             0 non-null      object
 17  hours             0 non-null      object
 18  MISC              441 non-null    object
 19  state             2821 non-null   object
 20  relative_results  2601 non-null   object
 21  url               2821 non-null   object
dtypes: float64(3), int64(3), object(16)
memory usage: 485.0+ KB

### Texas

In [32]:
texas_inner_merged = pd.merge(dfTexasReviews, dfHotels, on=["gmap_id"])

In [33]:
texas_inner_merged["state"] = "TX"

In [34]:
texas_inner_merged.shape

(3423, 22)

In [35]:
texas_inner_merged.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,address,...,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,106577674040631127991,Guillramz Ramirez,1628186215509,4,Nice and quiet clean well kept place...love ch...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1629477977682, 'text': 'Hi Guillramz,...",0x865cffff432c343d:0x581905d7ba87d2e2,Shady Oaks RV Park,"Shady Oaks RV Park, 25065 US-281, San Antonio,...",...,-98.484184,[Hotel],3.8,14,None,None,None,TX,"[0x865b7e1cc802f2bb:0xf2b63578cc5cd92f, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...
1,108876793502199021642,Mark Bass,1567300003295,4,"Very small, secluded and secure RV park.\nNot ...",None,"{'time': 1615057891573, 'text': 'Thank you for...",0x865cffff432c343d:0x581905d7ba87d2e2,Shady Oaks RV Park,"Shady Oaks RV Park, 25065 US-281, San Antonio,...",...,-98.484184,[Hotel],3.8,14,None,None,None,TX,"[0x865b7e1cc802f2bb:0xf2b63578cc5cd92f, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...
2,109806734128643887205,James Klima,1591628754505,1,"Our stay turned bad,loose dogs,barking dogs,do...",None,"{'time': 1615056919925, 'text': 'So sorry abou...",0x865cffff432c343d:0x581905d7ba87d2e2,Shady Oaks RV Park,"Shady Oaks RV Park, 25065 US-281, San Antonio,...",...,-98.484184,[Hotel],3.8,14,None,None,None,TX,"[0x865b7e1cc802f2bb:0xf2b63578cc5cd92f, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...
3,105080208071840336270,Martina Rocha,1570333580556,4,Nice and clean. Peaceful and cozy,None,"{'time': 1615057607105, 'text': 'Hope to see y...",0x865cffff432c343d:0x581905d7ba87d2e2,Shady Oaks RV Park,"Shady Oaks RV Park, 25065 US-281, San Antonio,...",...,-98.484184,[Hotel],3.8,14,None,None,None,TX,"[0x865b7e1cc802f2bb:0xf2b63578cc5cd92f, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...
4,108972714196207526100,KNOWLEDGE,1556754200553,4,Nice place to rent and live at,None,"{'time': 1615058029576, 'text': 'We appreciate...",0x865cffff432c343d:0x581905d7ba87d2e2,Shady Oaks RV Park,"Shady Oaks RV Park, 25065 US-281, San Antonio,...",...,-98.484184,[Hotel],3.8,14,None,None,None,TX,"[0x865b7e1cc802f2bb:0xf2b63578cc5cd92f, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...

In [36]:
texas_inner_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3423 entries, 0 to 3422
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           3423 non-null   object
 1   name_x            3423 non-null   object
 2   time              3423 non-null   int64
 3   rating            3423 non-null   int64
 4   text              2143 non-null   object
 5   pics              111 non-null    object
 6   resp              299 non-null    object
 7   gmap_id           3423 non-null   object
 8   name_y            3423 non-null   object
 9   address           3423 non-null   object
 10  description       1346 non-null   object
 11  latitude          3423 non-null   float64
 12  longitude         3423 non-null   float64
 13  category          3423 non-null   object
 14  avg_rating        3423 non-null   float64
 15  num_of_reviews    3423 non-null   int64
 16  price             0 non-null      object
 17  hours             0 non-null      object
 18  MISC              813 non-null    object
 19  state             3423 non-null   object
 20  relative_results  3321 non-null   object
 21  url               3423 non-null   object
dtypes: float64(3), int64(3), object(16)
memory usage: 588.5+ KB

## Grabando nuevo dataset

In [ ]:
estados_lista = [nevada_inner_merged, florida_inner_merged, california_inner_merged, newyork_inner_merged, texas_inner_merged]
reviews_google = pd.concat(estados_lista, ignore_index=True)

In [40]:
# Exportamos
reviews_google.to_csv('../processed_data/reviews_google.csv', index=False, sep=',')